{% load static %}
<div>
        <h1>Some Line Chart</h1>
        <div style="width:500px; height:400px;">
        <canvas id="myChart" style="width:500px; height:400; overflow: hidden;"></canvas>
        </div>
        <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
        <script type="text/javascript">
            $.get('{% url "line_chart_json" %}', function(data) {
                var ctx = $("#myChart").get(0).getContext("2d");
                new Chart(ctx, {
                    type: 'line', data: data,
                    options: {
                        scales: {
                            xAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Selected Value'}}],
                            yAxes: [{ display: true, scaleLabel: { display: true, labelString: 'Force'}}]
                        }
                    } 
                });
            });
        </script>
</div>
