<div class="container-fluid pt-3" role="tablist">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <a class="navbar-brand" href="#">Solenoid</a>
        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#">Background</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#">AWG Chart</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#">Contact</a></li>
        </ul>
    </nav>
</div>
